
.chooser-title{
    font-size: 25px;
    font-family: Arial;
}

.chooser-title, .chooser-description{
    text-align: center;
    font-family: Arial;
}

.rnd-button{
    font-size: 30px;
    color:rgb(48, 151, 48);
    border: 1px solid rgb(48, 151, 48);
    margin-top: 20px;
}