.list-item-grid{
    
    grid-area: auto-temp;
    display: grid;
    font-size: 20px;
    border-top: 1px solid #ccc;
    grid-template-columns: 100px 200px auto;
    grid-template-rows: 30px 70px;
    grid-template-areas:
        'name description img'
        'button description img';
}

.space-grid{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
        'auto-temp'
        'empty';
}

.viewInfo-name{
    grid-area: name;
    border-right: 1px solid #ccc;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.viewInfo-description{
    grid-area: description;
    font-size: 15px;
    padding: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    max-height: 100px; 
    text-overflow: ellipsis;
}


.viewInfo-img{
    grid-area: img;
}

.viewInfo-button{
    grid-area: button;
    font-size: 20px;
    text-align: left;
    padding: 5px;
    height: 70px;
    width: 100px;
    border: none;
    align-self: center;
}


.viewInfo-image{
    height: 95px; 
    width: 95px;
    object-fit: cover;
}

.viewEdit-header{
    padding-bottom: 50px;
}

.edit-view-container-edit{
    margin-bottom: 150px;
}