.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    font-family: Arial;
}

.header{
    display: flex;
    align-content: flex-start;
    align-items: baseline;
    font-family: Consolas;
    border-bottom: 1px solid #45d0e2;
}