.container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 5px 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}
