.todo-button-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.todo-button-link .todo-add-task-button{
    font-family: Century Gothic;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    background-color: #45d0e2;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    font-size: 18px;
    color: #333;
}
.todo-main{
    margin-top: 20px;
}
.todo-grid{
    display: grid;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: 320px auto;
    grid-template-rows: auto;
    grid-template-areas:
        'info checkbox';
}
.info{
    grid-area: info;
    font-size: 20px;
    border-bottom: 1px solid #45d0e2;
    padding-left: 5px;
    padding-top: 4px;
}
.info-checkbox{
    grid-area: checkbox;
    justify-self: center;
    height: 30px;
    width: 30px;
}